<aside class="footer">
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<ul class="footer-links">
            <li><%= link_to "Home", "#", class: "footer-link" %></li>
            <li><%= link_to "Pricing", "#", class: "footer-link" %></li>
            <li><%= link_to "About", "#", class: "footer-link" %></li>
            <li><%= link_to "Terms", "#", class: "footer-link" %></li>
            <li><%= link_to "Privacy Policy", "#", class: "footer-link" %></li>
            <li><a href="#"><i class="fab fa-facebook fa-square-o fa-2x"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter fa-square-o fa-2x"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram fa-square-o fa-2x"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin fa-square-o fa-2x"></i></a></li>
					</ul>
            </li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</aside>
