<aside class="footer">
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<ul class="footer-links">
            <li><%= link_to "Home", "#", class: "footer-link" %></li>
            <li><%= link_to "Pricing", "#", class: "footer-link" %></li>
            <li><%= link_to "About", "#", class: "footer-link" %></li>
            <li><%= link_to "Terms", "#", class: "footer-link" %></li>
            <li><%= link_to "Privacy Policy", "#", class: "footer-link" %></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</aside>
