<div class="footer">

  <div class="footer-names">
    <%= link_to "Home", "#", class: "footer-link" %>
    <%= link_to "Rent", "#", class: "footer-link" %>
    <%= link_to "Fees", "#", class: "footer-link" %>
    <%= link_to "About", about_path, class: "footer-link" %>
    <%= link_to "Terms", "#", class: "footer-link" %>
    <%= link_to "Privacy Policy", "#", class: "footer-link" %>
  </div>
  <div class="footer-icons">
    <a href="https://www.github.com" target=”_blank” ><i class="fab fa-github fa-2x"></i></a>
    <a href="https://www.instagram.com" target=”_blank” ><i class="fab fa-instagram fa-2x"></i></a>
    <a href="https://www.facebook.com" target=”_blank” ><i class="fab fa-facebook fa-2x"></i></a>
    <a href="https://www.twitter.com" target=”_blank” ><i class="fab fa-twitter fa-2x"></i></a>
    <a href="https://www.linkedin.com" target=”_blank” ><i class="fab fa-linkedin fa-2x"></i></a>
  </div>
</div>
